
AttendanceViewer/WindowsFormsApp1/obj/x86/Debug/*
.vs/ZKDtrAttendance/FileContentIndex/
AttendanceViewer/WindowsFormsApp1/bin/x86/Debug/
AttendanceViewer/WindowsFormsApp1/bin/x86/Debug/
DTRAttendanceSetup/Debug/
